.cards-container {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card:nth-child(3n + 1) {
  background-color: #02b875; /* Couleur pour la 1ère, 4ème, 7ème, etc. */
}

.card:nth-child(3n + 2) {
  background-color: #4181ee; /* Couleur pour la 2ème, 5ème, 8ème, etc. */
}

.card:nth-child(3n + 3) {
  background-color: #673ab7; /* Couleur pour la 3ème, 6ème, 9ème, etc. */
}

